*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scrollbar-width:none ; 
    font-family: "Faculty Glyphic", sans-serif;
    font-weight: 500;
    font-style: normal;
}

body{
    background: #182020ef;
}

.welcom_Background{
    background-image: url("img/hody/black.png");
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: bottom;
}

header, footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    background: #28343300;
    color: #ffffff;
    text-shadow: 0 0 10px #03ffeaef;
}

footer{
    color: #ffffff;
    text-shadow: 0 0 10px #03ffeaef;
}

footer a{
    color: #ffffff;
    text-decoration: none;
}

.social-icons i{
    padding-left: 5px;
}

.header_list_1 summary{
    list-style: none;
    cursor: pointer;
}

.header_list_1 .list{
    position: absolute;
    top: 7%;
    right: 0;
    width: 120px;
    height: 200px;
    background-color: #283433ef;
    border-radius: 10px;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 1s ease;
    cursor: pointer;
}

.header_list_2 a{
    text-decoration: none;
    color: #ffffffef;
}

.header_list_2 h4:hover{
    border-bottom: 2px solid #ffffff;
    text-shadow: 0 0 10px #03ffeaef;
}

.header_list_2{
    display: none;
}

.header_list_2 ul{
    display: flex;
    list-style: none;
}

.header_list_2 li{
    padding-left: 30px;
}

.list a{
    color:#ffffff;
    text-shadow: 0 0 10px #03ffeaef;
    text-decoration: none;
    padding: 10px;
}

.list h2:hover{
    border-bottom: 2px solid #ffffff;
}

.home{
    padding: 0 20px;
    height: 100vh;
}

.profile h1{
    padding: 30px 0;
    color: #ffffffec;
    text-shadow: 0 0 10px #03ffeaef;
}

.profile mark{
    background-color: #03ffeaef;
    color: #ffffff;
    font-size: 35px;
    border-radius: 10px;
}

.main_icon{
    display: flex;
    justify-content: space-around;
}

.main_icon a{
    text-decoration: none;
    color: #03ffeaef;
    text-shadow: 0 0 10px #ffffffef;
    border-radius: 30%;
    padding: 10px;
}

.qut_feet h1, .sudanes_stuff h1, .contact h1{
    text-align: center;
    padding-top: 30px;
    color: #ffffff;
    text-shadow: 0 0 10px #03ffeaef;
}

.brand_content{
    width: 100%;
    height: 100%;
}

.image_content{
    display: flex;
    flex-direction: row;
    overflow: scroll;
}

.image_content img{
    width: 80%;
    padding: 0 30px;
    animation-name: image_content_move;
    animation-duration: 30s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
}

@keyframes image_content_move{

    0%{
        translate: 0 0;
    }

    100%{
        translate: -500% 0;
    }
    
}

.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 10%;
}

.card{
    color: #ffffff;
    text-shadow: 0 0 10px #03ffeaef;
    background-color: #3d3d3dbe;
    border-radius: 10px;
    box-shadow: 0 5px 10px #03ffeaef;
    margin: 20px;
    padding: 20px;
    transition: 0.5s ease;
}

.card:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.icon{
    font-size: 50px;
    text-align: center;
}

.info{
    text-align: center;
}

@media (min-width:600px) and (max-width:1440px) {

    .welcom_Background{
        background-position: right;
    }

    .header_list_1{
            display: none;
    }

    .header_list_2{
            display: flex;
    }

    .image_content img{
        width: 40%;
    }

}
